/Users/mrecho/Sites/tmbo/composer.lock
/Users/mrecho/Sites/tmbo/schema.sql
/Users/mrecho/Sites/tmbo/temp_uploads/*
/Users/mrecho/Sites/tmbo/testfiles/*
/Users/mrecho/Sites/tmbo/uploads/*
/Users/mrecho/Sites/tmbo/vendor/*
/Users/mrecho/Sites/tmbo/.idea/*
