{% block sidebar %}

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">your stuff:</div>
		<div class="bluebox">
			<p>hi <b><a class="userLink" href="/user/3606">MrEcho</a></b>!</p>
			<p><a href="/uploadfile">upload</a></p>
			<p><a href="/subscriptions">subscribed threads</a></p>
			<p><a href="/settings">settings</a></p>
			<p><a href="/logout">log out</a></p>
		</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">unread comments:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">community:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">bandwidth isn't free:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">archives:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">rss:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

	<div class="contentbox">
		<div class="blackbar"></div>
		<div class="heading">contact:</div>
		<div class="bluebox">bluebox</div>
		<div class="blackbar"></div>
	</div>

{% endblock %}

